<!DOCTYPE html>
<html>
  <head>
    <title>Tello</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- flex-col: 直列方式排版，h-screen: 螢幕高度滿版，overflow-hidden: 當設定高度與寬度後，超過的部分會隱藏起來 -->
    <section class="flex flex-col h-screen overflow-hidden">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flash' if notice %>
      <!-- overflow-auto: 橫向捲軸，h-full: 撐滿整個畫面 -->
      <div class="overflow-auto h-full">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
